# RedReader
org.quantumbadger.redreader
# Glider
nl.viter.glider

# NewPipe
org.schabi.newpipe

# Vanilla Music
ch.blinkenlights.android.vanilla

# VLC
org.videolan.vlc

# MALP
org.gateshipone.malp

# OpenVPN
de.blinkt.openvpn

# Aurora
com.aurora.store

# YACB
dummydomain.yetanothercallblocker

# OSMAnd
net.osmand.plus

# DriveDroid
com.softwarebakery.drivedroid
